<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta name="keywords" content="{{ keywords }}" />
    <meta name="description" content="{{ description }}" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <title>{{ title }}</title>

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  </head>
  <body>
	<div id="container">

      <!--Body content-->
      {% block content %}{% endblock %}
      <!--End of body content-->

	</div>
    {% include 'footer.tmpl' %}
  </body>
</html>
