{% extends "base.tmpl" %}

{% block content %}

  <div id="page">
    {{ post.text(lang) }}
  </div>

  {% if fruits is defined %}

    <table>
      <thead>
        <th>Name</th>
        <th>Color</th>
      </thead>
      <tbody>
        {% for f in fruits %}
          <tr>
            <td>{{ f['name'] }}</td>
            <td>{{ f['color'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}

{% endblock %}
